/* Colores pastel */
.bg-pink {
    background-color: #ffccdd !important;
}

.text-purple {
    color: #663399 !important;
}

.bg-header {
    background: linear-gradient(135deg, #ffb6c1, #ff69b4);
    padding: 50px;
}

/* Estilos adicionales */
.navbar {
    border-bottom: 3px solid #ff69b4;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Footer en colores pastel */
.bg-pink {
    background-color: #ffccdd !important;
}

.text-purple {
    color: #663399 !important;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffccdd; /* Color pastel */
    padding: 15px;
    text-align: center;
    border-top: 4px solid #ff69b4;
}

/* Iconos de redes sociales */
footer a {
    font-size: 1.2rem;
}

footer a:hover {
    color: #ff69b4 !important;
}

